<div class="award-winning-popup-section" id="award-winning-popup-1">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="award-winning-popup-1"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Redensyl</h4>
         <h5>Increases hair growth by +214%</h5>
        <p>Redensyl® dramatically reactivates hair growth and decreases hair loss with clinically visible results in 3 months.  It achieves this by reactivating the activity of stem cells and initiating a new hair cycle. Additionally, it nourishes hair follicles, promoting a faster transition to the anagen phase, resulting in increased hair density and reduced hair loss.</p>
        
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/award-1.png?v=1708001210" /></figure>
      </div>
    </div>
  </div>
</div>




<div class="award-winning-popup-section" id="award-winning-popup-2">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="award-winning-popup-2"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Anagain</h4>
         <h5>Restores hair regeneration by 78%</h5>
        <p>Anagain is a patented ingredient known for its potential to support hair growth. Derived from pea sprouts, it stimulates specific molecules in the hair follicles, promoting hair regeneration and potentially contributing to increased hair density. It is an Advanced Ingredient Award Winner active that reactivates hair growth by reducing the amount of hair in the telogen hair phase and stimulating anagen.</p>
        
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/award-2.png?v=1708001210" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="award-winning-popup-3">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="award-winning-popup-3"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Capilia Longa</h4>
         <h5>89% Hair loss reduction</h5>
        <p>It works by recreating the ideal conditions for hair growth, imitating how hair follicles develop in the early stages. This special method, called 'Follicle Neo-Genesis,' helps encourage the growth of new hair follicles, which in turn leads to new hair growth.</p>
        
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/award-3.png?v=1708001210" /></figure>
      </div>
    </div>
  </div>
</div>














<div class="award-winning-popup-section" id="ingredients-1">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="ingredients-1"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Capilia Longa</h4>
         <h5>Acts as a DHT blocker to control hair loss</h5>
        <p>Research suggests that rosemary may have potential benefits for hair growth. It contains compounds like ursolic acid and rosmarinic acid, which may improve circulation, reduce inflammation, and inhibit certain hormones associated with hair loss. Additionally, its anti-inflammatory properties might contribute to a healthier scalp environment.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/ingrdiant-1.png?v=1708008759" /></figure>
      </div>
    </div>
  </div>
</div>


<div class="award-winning-popup-section" id="ingredients-2">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="ingredients-2"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Rice Water</h4>
         <h5>Strengthens the roots and promotes faster hair growth</h5>
        <p>Rice water is known for its potential benefits in promoting healthier hair. Believed to be a moisturizing agent, it can contribute to maintaining optimal hydration levels and preventing dryness. The water may enhance hair strength and elasticity, potentially reducing breakage and improving overall hair resilience. Additionally, the nutrient-rich profile of rice water, including vitamins, minerals, and amino acids, is thought to nourish the hair, promoting a shinier and smoother appearance.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/ingrdiant-2.png?v=1708008759" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="ingredients-3">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="ingredients-3"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Baicapil</h4>
         <h5>Improves scalp health by 19X for better hair growth</h5>
        <p>It is a combination of 3 plants (Scutellaria baicalensis, Triticum Vulgare sprout and Glycine max sprout) that increases cellular energy and activates follicle stem cells while protecting them from senescence. The nutrients present in Baicapil lead to more active and proliferating hair follicles which results in the induction of hair growth, increasing hair density and extending anagen.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/ingrdiant-3.png?v=1708008759" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="ingredients-4">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="ingredients-4"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Biotin</h4>
         <h5>Thickens the hair and helps prevent hair loss</h5>
        <p>Biotin (also known as vitamin B7 or vitamin H) is widely recognised for its potential benefits in promoting hair health. Biotin is crucial in supporting hair growth, contributing to longer and healthier strands. The vitamin is thought to enhance the keratin composition in hair, leading to increased strength and resilience. Maintaining adequate biotin levels is associated with improved hair texture, resulting in smoother and shinier locks.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/ingrdiant-4.jpg?v=1708009464" /></figure>
      </div>
    </div>
  </div>
</div>









<div class="ingrediants-popup-section" id="ingredients-popup-id">
  <div class="ingrediants-popup">
    <a href="#" class="ingrediants-popup-close" data-id="ingredients-4"></a>
    <div class="ingrediants-popup-part">
      <div class="ingrediants-popup-desc">
        <h4>Full Ingredients List</h4>

        <ul>
          <li>
            <p><b>Ingredient</b></p>
            <p><b>Type</b></p>
            <p><b>Source</b></p>
            <p><b>Benefits/ Function</b></p>
          </li>
<li>
  <p>Purified Water</p>
  <p>Natural</p>
  <p>Water</p>
  <p>Solvent</p>
            
            
            
</li>
          <li>
            <p>Anagain {Pisum Sativum (Pea) Sprout Extract}</p>
            <p>Natural</p>
            <p>Pea Sprouts</p>
            <p>Strengthens hair follicles</p>
          </li>
          <li>
            <p>Redensyl {Glycerin, Sodium Metabisulfite, Larix Europaea (Wood Extract), Glycine, Zinc Chloride, Camellia Sinensis (Leaf Extract)}</p>
            <p>Natural</p>
            <p>Plant</p>
            <p>Increases hair density</p>
          </li>
          <li>
            <p>Baicapil {Propanediol, Arginine, Lactic Acid, Glycine Soja (Soybean) Germ Extract, Triticum Vulgare (Wheat) Germ Extract, Scutellaria Baicalensis Root Extract, Sodium Benzoate, Gluconolactone, Calcium Gluconate}</p>
            <p>Natural</p>
            <p>Plant</p>
            <p>Provides nutrients to hair follicles</p>
          </li>
          <li>
            <p>Capilia Longa {Curcuma Longa (Turmeric) Callus Culture Conditioned Media, Pentylene Glycol, Phytic Acid}</p>
            <p>Natural</p>
            <p>Plant</p>
            <p>Induces hair growth</p>
          </li>
<li>
  <p>Rosmarinus Officinalis (Rosemary) Leaf Extract</p>           
  <p>Natural</p>
          <p>Plant</p>
            <p>Improves circulation & act as DHT blocker</p>
</li>
          <li>
          <p>Oryza Sativa (Rice) Extract</p>
          <p>Natural</p>
            <p>Rice</p>
            <p>Moisturizes while strengthening hair & reducing breakage</p>
          </li>
          <li>
  <p>Betaine</p>  
            <p>Natural</p>  
            <p>Sugar beets</p>
            <p>Retains moisture while preventing scalp dryness</p>
</li>
          <li>
  <p>Hydroxyethyl Urea</p>
            <p>Humectant</p>
            <p>Sugar beets</p>
            <p>Smoothens the hair cuticle and enhances shine</p>
</li>
          <li>
            <p>Phenoxyethanol</p>
            <p>Nature Identical</p>
            <p>Lab Synthesized</p>
            <p>Preservative</p>
</li>
          <li>
            <p>Ethylhexylglycerin</p>
            <p>Natural</p>
            <p>Lab synthesized from Glycerin</p>
            <p>Emollient, Humectant & Anti Microbial</p>
</li>
          <li>
            <p>Sodium Benzoate</p>
            <p>Synthetic</p>
            <p>Lab Synthesized</p>
            <p>Preservative</p>
          </li>
          <li>
            <p>Potassium Sorbate</p>
            <p>Synthetic</p>
            <p>Lab Synthesized</p>
            <p>Preservative</p>
          </li>
          <li>
            <p>Hydroxyethyl Cellulose</p>
            <p>Natural</p>
            <p>Cellulose</p>
            <p>Thickening agent</p>
          </li>
          <li>
            <p>Polyquaternium-10</p>
            <p>Synthetic</p>
            <p>Lab Synthesized</p>
             <p>Conditionig agent & gives volume-enhancing effects it has on the hair</p>
          </li>
          <li>
            <p>Biotin</p>
            <p>Vitamin</p>
            <p>Synthetic</p>
            <p>Increases hair strength</p>
          </li>
        </ul>
          </div>
     
    </div>
  </div>
</div>




<!----- Benefits Popup -------->
<div class="award-winning-popup-section" id="benefits-popup-1">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="benefits-popup-1"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Limits Hair Loss</h4>
        <p>Redensyl & Biotin are known for their ability to curb hair loss and support hair growth. This is accomplished by revitalizing stem cell activity & kickstarting a fresh hair cycle.</p>
        
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/banefits-popup-1.png?v=1708410365" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="benefits-popup-2">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="benefits-popup-2"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Promotes Hair Growth</h4>
        <p>Rosemary stimulates hair follicles, promoting regeneration by activating specific molecules. Anagain reactivates hair growth by reducing telogen hair phase and stimulating anagen.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/banefits-popup-2.png?v=1708410365" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="benefits-popup-3">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="benefits-popup-3"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Helps Add Volume</h4>
        <p>Capilia Longa in the serum uses 'Follicle Neo-Genesis' for new follicle development and hair growth. Rice Water maintains hydration, enhancing strength and reducing breakage.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/banefits-popup-3.png?v=1708410365" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="benefits-popup-4">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="benefits-popup-4"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Soothes Scalp Inflammation</h4>
        <p>Rice water and rosemary, with 
anti-inflammatory properties, create a healthier scalp environment, soothing inflammation. This makes the hair serum suitable for all scalp types.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/banefits-popup-4.png?v=1708410365" /></figure>
      </div>
    </div>
  </div>
</div>

<div class="award-winning-popup-section" id="benefits-popup-5">
  <div class="award-winning-popup">
    <a href="#" class="award-winning-popup-close" data-id="benefits-popup-5"></a>
    <div class="award-winning-popup-part">
      <div class="award-winning-popup-desc">
        <h4>Limits Hair Loss</h4>
        <p>Rice water and rosemary, with 
anti-inflammatory properties, create a healthier scalp environment, soothing inflammation. This makes the hair serum suitable for all scalp types.</p>
      </div>
      <div class="award-winning-popup-img">
       <figure><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/banefits-popup-5.png?v=1708410365" /></figure>
      </div>
    </div>
  </div>
</div>

