<style type="text/css">
@media(max-width:767px){

  .site-header__drawer {
    width: 100%;
    position: fixed !important;
    z-index: 999999999999 !important;
}
body .site-header__drawer {
    padding-bottom: 70px !important;
}
.site-header__drawer {
    padding: 0;
    background: #ebebeb;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0; 
}
section.menu-sectionnew {
    background-color: #ebebeb;
    background-image: url(https://cdn.shopify.com/s/files/1/0039/6073/3763/files/image_9.png?v=1706527916);
    background-repeat: no-repeat;
    background-position: top right;
}
.Login_Section {
    padding: 15px 5px 21px 17px;
}
.Login_Section .user-hi {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145.023%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Inter;
}
.Login_Section .user-wish {
    color: #B4B4B4;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    margin-top: 7px;
    margin-bottom: 0px;  
}

.Login_Section .user-wish a {
    color: #009C19;
    font-weight: bold;
} 
.Login_Section span {
    color: #B4B4B4;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
}
span.first_menutext {
    margin-bottom: 10px;
}
.Login_Section span a {
    color: #7E7E7E;
    text-decoration: underline;
}
.list_inner ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.list_inner ul > li {
    background: #fff;
    padding: 13px 20px 6px;
    border-radius: 5px;
    color: #323232;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 145.023%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
 .mainheadlist .menuitem-title {
    color: #323232;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.list_inner {
    padding: 0 5px;
}
 
.list_inner ul > li span {
    color: #7E7E7E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: initial;
    display: block;
}
ul.inner_childsec > li {
    color: #7E7E7E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.023%;
    text-transform: capitalize;
    padding: 11px 0;
    border-bottom: 1px #D9D9D9 solid;
    margin: 0;
    border-radius: 0;
}
ul.inner_childsec > li > a {
    color: #7E7E7E;
}  
ul.inner_childsec > li img {
    margin-left: 10px;
}  
ul.inner_childsec li:last-child {
    border: none;
}  
ul.inner_childsec > li span + img {
    margin-left: 10px;
    position: relative;
    top: 0px;
} 
ul.inner_childsec {
    margin-top: 1rem;
    padding: 0 15px 0 30px;
}
ul.Img_sec_list li {
    padding: 0;
}

ul.Img_sec_list li img {
    width: 100%;
}

ul.Img_sec_list {
    margin-top: 1.5rem;
    padding: 0 0.5rem 0 2rem;
}
.listchild_limain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
ul.grandchild_menu li {
    width: 49%;
    color: #9E9E9E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.023%;
    display: flex;
    align-items: center;
    padding: 9px 8px;
    border: 0.5px solid #9E9E9E !important;
    text-transform: capitalize;
    border-radius: 8px;
    margin-bottom: 7px;
}
.listchild_limain.active .listchild_li {
    font-weight: bold;
}
ul.grandchild_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
    margin: 16px -15px 0 -35px !important;
}
.mainli-sec.active .innermenu_list .icon_sec img {
    margin-right: 0;
  }  
ul.grandchild_menu li img {
    margin-right: 8px;
}
ul.grandchild_menu li img {
    width: 23px;
    border: 0.1px solid #333;
    border-radius: 50%;
    margin: 0 5px 0px 0;
}
.inner_childsec li span {
    font-size: 18px !important;
}
ul.grandchild_menu li a {
    display: flex;
    align-items: center;
}  
 
.mainli-sec.active span.first_menutext {
    display: none;
}
.mainli-sec.active .innermenu_list br {
    display: none;
}
.mainli-sec.active .innermenu_list {
    display: flex;
    align-items: center;
}
.mainli-sec.active .innermenu_list img {
    margin-bottom: 0;
    margin-right: 12px;
}
 
.mainli-sec.active + ul.Img_sec_list {
    display: block !important;
}   
.listchild_limain.active .plus_img {
    display: none;
}
.listchild_limain.active .minus_img {
    display: block !important;
}  
.contact_secmenu a {
    display: block;
    color: #7E7E7E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration-line: underline;
    margin-bottom: 20px;
}
.Login_Section img {
    width: 46px;
}
.contact_secmenu {
    margin-top: 3rem;
    padding-left: 20px;
    margin-bottom: 2rem;
}
.color_blink {
    animation: blink 1.5s infinite;
    font-weight: bold;
}
.mainli-sec.active .icon_plus{
  display:none;
}
.mainli-sec.active .icon_minus{
  display:block !important;
}
.innermenu_list .icon_sec img {
    width: 10px;
    margin-bottom: 0;
}
.mainheadlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.innermenu_list img {
    width: 18.113px;
}
.flex-design {
    display: flex;
    align-items: center;
}  
.mainli-sec.active .mainheadlist {
    margin-bottom: 0;
    width: 100%;
} 
.list_inner ul > li span.New-Badge {
    display: block;
    border-radius: 2px;
    background: #A55DD1;
    color: #fff !important;
    font-weight: 700;
    line-height: 145.023%;
    text-transform: uppercase !important;
    padding: 1px 9px;
    font-size: 12px !important;
    margin-left: 18px;
}  
ul.grandchild_menu li a {
    color: #808080; 
} 
.close_buttonsec {
    position: absolute;
    top: 3px;
    right: 22px;
}

.close_buttonsec span {
    font-size: 30px;
}  
@keyframes blink{
   0% {
    color: red;
  }
  20% {
    color: red;
  }
  40% {
    color: red;
  }
  60% {
    color: blue;
  }
  80% {
    color: blue;
  }
  100% {
    color: blue;
  }
}
@-webkit-keyframes blink{
  0% {
    color: red;
  }
  20% {
    color: red;
  }
  40% {
    color: red;
  }
  60% {
    color: blue;
  }
  80% {
    color: blue;
  }
  100% {
    color: blue;
  }
}  
}
</style>

<section class="menu-sectionnew">

<div class='close_buttonsec'>
<span>x</span>
</div>
    
    <div class="Login_Section">
        
        <div class="user-hi"><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Group_593_1.png?v=1706530350"> Hi, Innovist Insider.</div>
        <div class="user-wish">Welcome! <a href='/account/login'>Log In</strong></a>/<a href='/account/register'>Sign Up</strong></a><strong> to track your order<strong></div>
        {% comment %}
          <span>Not an Insider yet? <a href='/account/register'><strong>Sign up</strong> to become one here!</a></span>
        {% endcomment %}

    </div> 
    <div class="menulist-main">
        
        <div class="list_inner"> 
            <ul>
                <li class='first_menulink'>
                    <div class="mainli-sec active">
                    <div class="innermenu_list">
                        <img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Frame_38_4279565f-6ee8-43f4-8816-ed2a3af0dc06.png?v=1706529132">
                          <div class='mainheadlist'>
                            <div class="menuitem-title">Shop</div>
                            <div class="icon_sec">
                              <img class='icon_plus' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/b230f59911b8d228791f36d23900d5ce.png?v=1706530117">
                              <img style='display:none' class='icon_minus' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/2_5e0a035b-ce0e-4225-ac8e-79cc076b09f5.png?v=1706529131">
                            </div>
                          </div>
                        <span class='first_menutext'>Best Sellers, New Launches,<br>Gifting, Sales, and More</span>
                    </div>
                    
                    </div>


                    <ul class="inner_childsec"  >
                        <li class='flex-design'><a href='https://innovist.com/collections/best-sellers'><span>Best Sellers</span></a> <img src='https://cdn.shopify.com/s/files/1/0039/6073/3763/files/fire.png?v=1705554322' /></li>
                        <li><a href='https://innovist.com/collections/new-launches' class='color_blink'>New Launches</a></li>
                        <li><a href='https://innovist.com/collections/bare-anatomy-store'>Hair Care</a></li>
                        <li><a href='https://innovist.com/collections/chemist-at-play'>Skin Care</a></li>
                        <li><a href='https://innovist.com/collections/sunscoop'>Sun care</a></li>
                        <li><a href='https://innovist.com/collections/liquidation-products'>Offers</a></li> 
                    </ul>
                </li>

                <li class='first_menulink'>
                    <div class="mainli-sec">
                    <div class="innermenu_list">
                        <img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Frame_39_6f148ea3-6d65-4faa-bfcd-74988cbf2bd3.png?v=1706530117"><div class='mainheadlist'>
                            <div class="menuitem-title">LEARN</div>
                            <div class="icon_sec">
                              <img class='icon_plus' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/b230f59911b8d228791f36d23900d5ce.png?v=1706530117">
                              <img style='display:none' class='icon_minus' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/2_5e0a035b-ce0e-4225-ac8e-79cc076b09f5.png?v=1706529131">
                            </div>
                          </div>
                        <span class='first_menutext'>About The Innovation Lab,<br> Certifications, Founders, and More</span>
                    </div>
                    
                    </div>

                    <ul class="inner_childsec" style='display:none'>
                        <li><a href='https://innovist.com/pages/quiz-page' class='flex-design'>
                          <span>Take Quiz</span>
                          <span class='New-Badge'>New</span>
                        </a></li>
                        <li class='main-childnavsec'>
                        
                        <div class="listchild_limain">
                            <div class="listchild_li">  
                                Hair Concern
                            </div>

                            <div class="listchild_liicon">
                                <img class='plus_img' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/plus-min.png?v=1705553412">
                                <img style='display:none' class='minus_img' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/9022a705161ff42b7879d88f1fd6d0e8.png?v=1705558004">
                            </div>
                        </div>

                          <div class='newchild-menu' style='display:none'>
                        <ul class="grandchild_menu">
                            <li><a href='https://innovist.com/collections/hairfall-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_1_1.png?v=1706196427">  Hairfall</a></li>
                            <li><a href='https://innovist.com/collections/dandruff-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_5_2.png?v=1706196428">  Volume</a></li>
                            <li><a href='https://innovist.com/collections/frizz-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_2_2.png?v=1706196428">  Dandruff</a></li>
                            <li><a href='https://innovist.com/collections/color-protection-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_6_2.png?v=1706196427">  Curl-Defining</a></li>
                            <li><a href='https://innovist.com/collections/volume-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_3_2.png?v=1706196427">  Frizz</a></li>
                            <li><a href='https://innovist.com/collections/curl-defining-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_7_2.png?v=1706196427">   Smoothening</a></li>
                            <li><a href='https://innovist.com/collections/smoothing-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_4_2.png?v=1706196427">  Color Protection</a></li>
                            <li><a href='https://innovist.com/collections/damage-repair-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_8_2.png?v=1706196427">  Damage Repair</a></li>
                        </ul>
                          </div>
                        </li>
                      <li class='main-childnavsec'>
                        
                        <div class="listchild_limain">
                            <div class="listchild_li">  
                                Skin Concern
                            </div>
                            <div class="listchild_liicon">
                                <img class='plus_img' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/plus-min.png?v=1705553412">
                                <img style='display:none' class='minus_img' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/9022a705161ff42b7879d88f1fd6d0e8.png?v=1705558004">
                            </div>
                        </div>
                        <div class='newchild-menu' style='display:none'>
                        <ul class="grandchild_menu">
                            <li><a href='https://innovist.com/collections/acne-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_1_3.png?v=1706766536">  Acne</a></li>
                            <li><a href='https://innovist.com/collections/bumpy-skin-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_5_3.png?v=1706196839">  Stretch Marks</a></li>
                            <li><a href='https://innovist.com/collections/ageing-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_2_3.png?v=1706196840">  Bumpy Skin</a></li>
                            <li><a href='https://innovist.com/collections/dryness-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_6_3.png?v=1706196839"> Dullness</a></li>
                            <li><a href='https://innovist.com/collections/stretchmarks-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_3_3.png?v=1706196840">  Ageing</a></li>
                            <li><a href='https://innovist.com/collections/dullness-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_7_3.png?v=1706196839">  Uneven-tone</a></li>
                            <li><a href='https://innovist.com/collections/uneven-tone-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_4_3.png?v=1706196839">  Dryness</a></li>
                            <li><a href='https://innovist.com/collections/sun-damage-home'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Ellipse_8_3.png?v=1706196839">  Sun Damage</a></li>
                        </ul>
                        </div>
                        </li>  
                      <li><a href='https://innovist.com/pages/about-us' class='flex-design'><span>About us</span><img src='https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Test_Tube_1.png?v=1706765517' /></a></li>
                        <li><a href='https://innovist.com/blogs/news'><span>Blog</span></a></li> 
                    </ul>

                </li>

                <li class='first_menulink'>
                    <div class="mainli-sec">
                    <div class="innermenu_list">
                        <img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Frame_40.png?v=1706530117"> 
                       <div class='mainheadlist'>
                            <div class="menuitem-title">OUR BRANDS</div>
                            <div class="icon_sec">
                              <img class='icon_plus' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/b230f59911b8d228791f36d23900d5ce.png?v=1706530117">
                              <img style='display:none' class='icon_minus' src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/2_5e0a035b-ce0e-4225-ac8e-79cc076b09f5.png?v=1706529131">
                            </div>
                          </div>
                        <span class='first_menutext'>Bare Anatomy, Chemist At Play<br> and SunScoop</span>
                    </div>
                     
                    </div>

                    <ul class="Img_sec_list"  style='display:none'>
                        <li><a href='https://innovist.com/pages/bare-anatomy-store'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/img_1.jpg?v=1705553410"></a></li>
                        <li><a href='https://innovist.com/pages/chemist-at-play-store'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/img_2.jpg?v=1705553410"></a></li>
                        <li><a href='https://innovist.com/pages/sunscoop-store'><img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/img_3.jpg?v=1705553410"></a></li> 
                    </ul>


                </li>
            </ul>


          <div class='contact_secmenu'>

            <a href='https://innovist.com/pages/contact-us'>Contact Us</a>
            <a href='https://innovist.page.link/fD3N'>Download App</a>
            
          </div>
        </div>

    </div>


</section>      