<ul>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/freshly-made.svg?v=1611814438" alt="">
        <h4>Freshly made</h4>
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Sulphate-Paraben.svg?v=1611814485" alt="">
        <h4>100% Sulphate and Paraben Free</h4>
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/Vegan.svg?v=1611814496" alt="">
        <h4>100% Vegan</h4>
    </li>
</ul>