<style>
  @media only screen and (max-width: 834px) {
    .site-header__search {
    display: none !important;
}
    .st-search-bar svg.input-close-btn {
    right: 5px;
  }
    div#stDesktopSearchBox {
    display: none;
}
   div#stMobileSearchBox {
    display: block;
}   
    .st-search-bar input {
    height: 35px !important;
    border: 1px solid #fff!important;
    border-radius: 5px;
    font-size: 16px !important;
    padding: 5px 80px 5px 10px;
   }
    .st-search-bar.hidden-desktop {
               padding: 0px 0px 5px 0px;
    }

    .st-search-bar {
        position: relative;
     
    }


  
}
</style>
<div class="st-search-bar hidden-desktop" id="stMobileSearchBox" style=" display: none;">
     <input type="text" name="st" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
               <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="input-close-btn" style="display: block;"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"></path></svg>
               {%render 'st-trending-searches' %}
</div>