<style>
.st-search-icon {
display:none;
 }

  @media only screen and (max-width: 834px) {
    .site-header__search {
    display: none !important;
}
.st-search-icon {
    display: block;
  width: 100%;
    /* display: flex; */
    padding: 0 1rem !important;
 }
    .st-dummy-label {
    width: 75%;
}
.st-dummy-icon {
    width: 25%;
}
.st-dummy-inputbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #1f2e2e;
}
.st-dummy-label span {
    color: #fff;
    padding: 0 40px 0 5px;
    font-size: 10px;
}
.st-dummy-icon svg.st-searchicon {
    width: 22px;
    height: 22px;
    /* margin-top: 1px; */
    /* position: absolute; */
    /* padding-top: 2px; */
}
  }
</style>
  <div class="st-search-icon">
                   <div class="st-dummy-inputbox">
                       <div class="st-dummy-label">
                           <span>Search...</span>
                       </div>
                       <div class="st-dummy-icon">
                           <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30" style=" fill:#fff;" class="st-searchicon"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path></svg>
                       </div>
                   </div>
                </div>