<hr>

<div class="desktop-register account-section" >
		  
		   
		  <div class="account-container text-center"  >
			  
			  <div class="myaccount-box" >
				 {% form 'reset_customer_password' %} 
				  <h1>{{ 'customer.reset_password.title' | t }}</h1>
				   <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>              
				
				 <input type="hidden" name="return_to" value="/" id="returnurl" />
                 <div id="otpform">                   
                    {{ form.errors | default_errors }}     
                     <div class="input-box">
				<input type="tel" name="customer[password]" id="ResetPassword" id="Createpin" maxlength="6" value="" placeholder="Create your 6 digit PIN" onkeypress="return onlyNumbers();" required>
					
                     </div>
                   
                   <div class="input-box">
							<input type="tel"  maxlength="6" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="Confirm your 6 digit PIN" onkeypress="return onlyNumbers();" required>
					  </div>
                      <button type="submit">
					  	Submit
					  </button>
                     
                
                </div>
                
                 {% endform %}
			  </div>

			  
		  </div>
		  
	  </div>


<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script language="JavaScript">
function onlyNumbers(evt)
{
var e = event || evt; // for trans-browser compatibility
var charCode = e.which || e.keyCode;

if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;

return true;

}
</script>
