<style type="text/css">
   @media screen and (max-width: 3840px) {
@media screen and (max-width: 767px) {
body, div.page-width{padding-top:0vh;}
}
   }

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" media="print" onload="this.media='all'">

<link rel="stylesheet preconnect" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="print" onload="this.media='all'" crossorigin>
<head>
<meta name="viewport" content="width=device-width, initial-scale =
1.0, user-scalable = no">
</head>
<style>
    a {
    color: #000;
    color: var(--colorTextBody) !important;
    text-decoration: none;
    background: transparent;
    }
    a:hover {
    /* color: #0056b3; */
    text-decoration: underline;
}
.site-nav__link:hover {
    color: #000;
    color: var(--colorNavText);
    text-decoration: none;
}
</style>
<style>
body{
font-family: helvetica;
    padding:0;margin:0;
    background: #eee;
color: #0f3a5d;
    font-weight: 300;
}
.contaiiiner{
max-width: 900px;
    margin: 0px auto;
    padding: 5px 30px;
    box-shadow: 0 0 10px #ccc;
    background: #fafafa;
}
p{
padding-left: 15px;
  font-size:14px;
    font-weight: 450;
}
h1{
    font-size: 1.5em; padding-top: 20px;
}
h2{
padding-top: 20px;
}
.f_content p { padding-left: 0px; }
</style>
{% section 'about-us-options' %}

<!--<div class="contaiiiner">

<center><h1>ABOUT US</h1></center><br>
<p>
At Bare (Clean) Anatomy (Science), we revolutionize hair care by breaking the flawed notion of ‘one size fits all’.
We believe and tirelessly work to create custom formulas that take into account direct & indirect factors that affect an individual’s hair. <br/><br/>

Years of research, done by our industry-expert scientists, has gone into our data-driven algorithm that aids us to derive unique formulas that are clean, customized, and backed by advanced science.
In a single bottle, we combat all your hair problems & strive to meet 3 hair goals, making each drop of hair care the best for you, and eliminating a sea of harmful and ill-fit formulas.
We believe that with that extra dose of personalization, we can reinvent hair care for you!  </p> <br/><br/>
  </div>-->
